$darkText: #0D1C2E;
$active: #2A8BF2;
$indicationColor: #FF3366;
$lightText: #707C97;
$background: #E6ECFE;
$background1: #E6ECFE;
$background2: #FAFBFF;
$white: #FFFFFF;
$gray: #B7BDCB;
$second: #61a261;

:export {
  darkText: $darkText;
  active: $active;
  indicationColor: $indicationColor;
  lightText: $lightText;
  background: $background;
  background1: $background1;
  background2: $background2;
  white: $white;
  gray: $gray;
  second: #61a261
}
